{% extends 'app/menu_bar.html' %}
{% block content %}
<style>
.left-box {
  float: left;
    margin-left : 100px;
  width: 40%;
}
.right-box {
  float: right;
  margin-right : 100px;
    width: 40%;
}
</style>

<div class="page-header text-center"  >
        <h1> {{ group_id.group_name }} </h1>
    </div>
<div class='left-box'>
<div class="text-center">
 <label for="grou_board">그룹원</label>

    <div class="table-responsive">
                <table class="table table-striped">

                    <thead>

                    <tr>
                        <th style="text-align: center">이름</th>
                        <th style="text-align: center">신청하기</th>
                    </tr>
                    </thead>

                    <tbody>

                    {%  for member in member_list %}
                    <tr>
                        <td> {{ member.member_id}}</td>
                        <td><a id="make-friend-relation-{{ member.member_id }}"
                                   onclick='make_friend_relationship("{{ member.member_id }}")'>신청하기</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class='right-box'>
<div class="text-center">
 <label for="grou_board">그룹 게시판</label>
    <button type="글쓰기" class="btn btn-default" style=float:right onclick="location.href = '/app/group_private/{{ group_id.id }}/write/'">글쓰기</button>
    <div class="table-responsive">
                <table class="table table-striped">

                    <thead>

                    <tr>
                        <th style="text-align: center">번호</th>
                        <th style="text-align: center">제목</th>
                        <th style="text-align: center">작성자</th>
                        <th style="text-align: center">날짜</th>

                    </tr>
                    {% for article in article_list %}
                        <tr>
                        <td>{{ article.article_id.id }}</td>
                            <td><a href="/app/article/{{article.article_id.id}}">{{article.article_id.title}}</a></td>
                        <td>{{ article.article_id.user_id }}</td>
                        <td>{{ article.article_id.date }}</td>
                        </tr>
                    {% endfor %}

                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}