{% extends 'app/my_page.html' %}
<link type="group/css" hrep="group.css" rel="stylesheet">

{% block my_page %}
    <div class="container">
        <h2 class="page-header">내 그룹</h2>
        <div class="table-responsive" id="right">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>그룹명</th>
                    <th>최신 글</th>
                </tr>
                </thead>
                <tbody>
                {% for usergroup in usergroup_list %}
                    <tr>
                        {% csrf_token %}
                        <td></td>
                        <td id="group-{{ usergroup.group_name }}" name="group_name"
                            value="{{ usergroup.group_name }}">{{ usergroup.group_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <h2 class="page-header">전체 그룹</h2>
        <div class="table-responsive">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <div class="input-group-btn" ng-controller="DropdownCtrl" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle
                                    data-toggle="dropdown" aria-expanded="false" ng-disabled="disabled" id="button">검색
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">전체</a></li>
                                <li><a href="#">그룹 이름</a></li>
                                <li><a href="#">개설자</a></li>
                                <li><a href="#">카테고리</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" placeholder="검색어를 입력해 주세요"
                               aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">검색</span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>그룹명</th>
                        <th>개설자</th>
                        <th>카테고리</th>
                        <th>가입하기</th>
                    </tr>
                    </thead>
                    <tdody>
                        {% for group in group_list %}
                            <form class="form-horizontal" method="post" action="/app/group_home/">
                                {% csrf_token %}
                                <tr>
                                    <td id="group-{{ group.id }}" name="group_id-{{ group.id }}"
                                        value="{{ group.id }}">{{ group.id }}</td>
                                    <td id="group-{{ group.group_name }}" name="group_name"
                                        value="{{ group.group_name }}">{{ group.group_name }}</td>
                                    <input id="group_hidden_id" name="group_hidden_id" value="{{ group.id }}"
                                           type="hidden">
                                    <td id="group-{{ group.leader }}" name="group_leader"
                                        value="{{ group.leader }}">{{ group.leader }}</td>
                                    <td id="group-{{ group.category }}" name="category"
                                        value="{{ group.category }}">{{ group.category.category_name }}</td>
                                    <td>
                                        <a onclick='join_group("{{ group.id }}")'>가입하기</a>
                                    </td>
                            </form>

                        {% endfor %}
                    </tdody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="/app/group_create" button type="button" class="btn btn-default"> 그룹 개설</a>
    </div>
{% endblock my_page %}