{% extends 'app/menu_bar.html' %}
{% block head %}
    <style type="text/css">
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }

        .nav-sidebar {
            margin-right: -21px;
            margin-bottom: 20px;
            margin-left: -20px;
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li style="font-weight: bold; margin-bottom: 10px;"><a href="{% url 'lecture_all' %}">- 전체 강좌</a>
                    </li>
                    {% for category in category_list %}
                        <li style="font-weight: bold; margin-bottom: 10px;" id="category-{{ category.id }}"
                            name="category-{{ category.id }}"><a href="/app/lecture/{{ category.category_name }}/">
                            {{ category.category_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="page-header">
                    <h1>강좌 개설</h1>
                </div>
                <form class="form-horizontal" method="post" action="/app/lecture/add/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="category">카테고리</label>
                        <div class="col-sm-6">
                            <div class="dropdown">
                                <select name="lecture_select" id="lecture_select">
                                    {% for cate in category_list %}
                                        {% if category == cate.category_name %}
                                            <option id="category-{{ cate.id }}" name="category-{{ cate.id }}"
                                                    value="{{ cate.category_name }}"
                                                    selected>{{ cate.category_name }}</option>
                                        {% else %}
                                            <option id="category-{{ cate.id }}" name="category-{{ cate.id }}"
                                                    value="{{ cate.category_name }}">{{ cate.category_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="lecture-name">강좌명</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="lecture-name" name="lecture-name" value="" type="text">
                        </div>
                        <button class="btn btn-warning" type="button" onclick='lecture_distinct_check("lecture-name")'>
                            중복확인
                        </button>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="lecture_describe">강좌 설명</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="lecture_describe" name="lecture_describe"
                                      placeholder="간단한 설명을 입력하세요.(300자 제한)" type="text" maxlength="300"
                                      style="height:100px" wrap="soft"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-primary" disabled="disabled" type="submit"
                                    id="lecture_sign_up_button">등록하기<i class="fa fa-check spaceLeft"></i>
                            </button>
                            <a class="btn btn-danger" href="/app/lecture/all">취소<i class="fa fa-times spaceLeft"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}