{% extends 'app/menu_bar.html' %}
{% block head %}
    <style type="text/css">
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }

        .nav-sidebar {
            margin-right: -21px;
            margin-bottom: 20px;
            margin-left: -20px;
        }
    </style>
    <script type="text/javascript">
         <!--
            function Info() {
               alert ("강좌에 수강을 신청하셨습니다.");
            }
         //-->
      </script>
{% endblock head %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li style="font-weight: bold; margin-bottom: 10px;"><a href="{% url 'lecture_all' %}">- 전체 강좌</a>
                    </li>
                    {% for category in category_list %}
                        <li style="font-weight: bold; margin-bottom: 10px;" id="category-{{ category.id }}"
                            name="category-{{ category.id }}"><a href="/app/lecture/{{ category.category_name }}/">
                            {{ category.category_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% for a in data %}
                    <div class="page-header">
                        <h1 id="lecture_name">강좌명 : {{ a.lecture_name }}</h1>
                    </div>
                    <script language="JavaScript">
                        if ('{{ is_teacher }}' != '0') {
                            console.log("OK")
                            document.write('<div class="col-sm-12 text-right">');
                            document.write('<a href="/app/lecture/{{ a.lecture_name }}/section/add/" class="btn btn-primary">분기강좌 개설</a>');
                            document.write('</div>');
                        }
                    </script>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>카테고리</th>
                            <th>강좌 설명</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ a.lecture_cate }}</td>
                            <td>{{ a.lecture_desc }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% if section_list %}
                        <div class="page-header">
                            <h3>분기강좌</h3>
                        </div>
                        <form class="form-horizontal" method="post"
                              action="/app/lecture/detail/?data={{ a.lecture_name }}">
                            {% csrf_token %}
                            <div class="table-responsive" id="lecture_list">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>강사명</th>
                                        <th>개강일</th>
                                        <th>종강일</th>
                                        <th>장소</th>
                                        <th>수강금액</th>
                                        <th>빈도</th>
                                        <th>시작시간</th>
                                        <th>종료시간</th>
                                        <th>최소인원</th>
                                        <th>최대인원</th>
                                        <th>현재인원</th>
                                        <th>마감일</th>
                                        <th>상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for section in section_list %}
                                        <tr>
                                            <td>{{ section.teacher }}</td>
                                            <td>{{ section.start_date }}</td>
                                            <td>{{ section.end_date }}</td>
                                            <td>{{ section.location }}</td>
                                            <td>{{ section.price }}</td>
                                            <td>{{ section.times }}</td>
                                            <td>{{ section.start_time }}시</td>
                                            <td>{{ section.end_time }}시</td>
                                            <td>{{ section.min_capacity }}명</td>
                                            <td>{{ section.max_capacity }}명</td>
                                            <td>{{ section.cur_pnum }}명</td>
                                            <td>{{ section.due_date }}</td>
                                            <script language="JavaScript">
                                                var dt = new Date();
                                                var month = dt.getMonth() + 1;
                                                var day = dt.getDate();
                                                var year = dt.getFullYear();
                                                var due_date_array = ('{{ section.due_date }}').split(' ');

                                                if (due_date_array[0] == 'January') due_date_array[0] = 1;
                                                if (due_date_array[0] == 'February') due_date_array[0] = 2;
                                                if (due_date_array[0] == 'March') due_date_array[0] = 3;
                                                if (due_date_array[0] == 'April') due_date_array[0] = 4;
                                                if (due_date_array[0] == 'May') due_date_array[0] = 5;
                                                if (due_date_array[0] == 'June') due_date_array[0] = 6;
                                                if (due_date_array[0] == 'July') due_date_array[0] = 7;
                                                if (due_date_array[0] == 'August') due_date_array[0] = 8;
                                                if (due_date_array[0] == 'September') due_date_array[0] = 9;
                                                if (due_date_array[0] == 'October') due_date_array[0] = 10;
                                                if (due_date_array[0] == 'November') due_date_array[0] = 11;
                                                if (due_date_array[0] == 'December') due_date_array[0] = 12;
                                                due_date_array[1] = due_date_array[1].split(',')[0];

                                                console.log(due_date_array[0] + " " + due_date_array[1] + " " + due_date_array[2])
                                                console.log(month + " " + day + " " + year)

                                                if (Number(due_date_array[2]) == Number(year)) {
                                                    if (Number(due_date_array[0]) == Number(month)) {
                                                        if (Number(due_date_array[1]) >= Number(day)) {
                                                            document.write('<td><button class="btn btn-warning" type="submit" onclick="Info();">신청</button></td>');
                                                            document.write('<div class="form-group">');
                                                            document.write('<input hidden type="text" name="section_enroll" id="section_enroll" value="{{ section.section_id }}">');
                                                            document.write('<input hidden type="text" name="lecture_name" id="lecture_name" value="{{ a.lecture_name }}">');
                                                            document.write('</div>');
                                                        }
                                                        else {
                                                            document.write('<td>마감</td>');
                                                        }
                                                    }
                                                    else if(Number(due_date_array[0]) > Number(month)) {
                                                        document.write('<td><button class="btn btn-warning" type="submit" onclick="Info();">신청</button></td>');
                                                        document.write('<div class="form-group">');
                                                        document.write('<input hidden type="text" name="section_enroll" id="section_enroll" value="{{ section.section_id }}">');
                                                        document.write('<input hidden type="text" name="lecture_name" id="lecture_name" value="{{ a.lecture_name }}">');
                                                        document.write('</div>');
                                                    }
                                                    else {
                                                        document.write('<td>마감</td>');
                                                    }
                                                }
                                                else if(Number(due_date_array[2]) > Number(year)) {
                                                    document.write('<td><button class="btn btn-warning" type="submit" onclick="Info();">신청</button></td>');
                                                    document.write('<div class="form-group">');
                                                    document.write('<input hidden type="text" name="section_enroll" id="section_enroll" value="{{ section.section_id }}">');
                                                    document.write('<input hidden type="text" name="lecture_name" id="lecture_name" value="{{ a.lecture_name }}">');
                                                    document.write('</div>');
                                                }
                                                else {
                                                    document.write('<td>마감</td>');
                                                }

                                            </script>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}