{% extends 'app/menu_bar.html' %}
{% block head %}
    <style type="text/css">
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }

        .nav-sidebar {
            margin-right: -21px;
            margin-bottom: 20px;
            margin-left: -20px;
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li style="font-weight: bold; margin-bottom: 10px;"><a href="{% url 'lecture_all' %}">- 전체 강좌</a>
                    </li>
                    {% for category in category_list %}
                        <li style="font-weight: bold; margin-bottom: 10px;" id="category-{{ category.id }}"
                            name="category-{{ category.id }}"><a href="/app/lecture/{{ category.category_name }}/">
                            {{ category.category_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="page-header">
                    <h1>카테고리 : {{ category }}</h1>
                </div>
                {% if course_list %}
                    <div class="table-responsive" id="lecture_list">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>카테고리</th>
                            <th>강좌명</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for course in course_list %}
                                <tr>
                                <td>{{ course.category_name }}</td>
                                <td><a style="cursor:hand" href="/app/lecture/detail/?data={{ course.title }}">{{ course.title }}</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}