{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>DB_Proj2</title>

    <script src="{% static 'app/js/jquery-3.2.0.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.js' %}"></script>
    <script src="{% static 'app/js/lecture.js' %}"></script>
    <script src="{% static 'app/js/edit_save.js' %}"></script>

    <link rel="stylesheet" href="{% static '/app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/app/css/bootstrap-theme.css' %}">

    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="cursor:hand" href="/app/lecture/all/">DB_Proj2</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/app/lecture/all">강좌</a></li>
                <li><a href="/app/teacher/">강사</a></li>
                <li><a href="/app/group_home/">그룹</a></li>
                <li><a href="/app/article/total">게시판</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if not user.is_authenticated %}
                   <li id="sign-in"><a href="/app/sign_in/">Sign in</a></li>
                {% else %}
                    <li id="user-my-page"><a href="/app/my_page/info/">마이 페이지</a></li>
                     <li id="sign-out"><a href="/app/sign_out/">Sign out</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>