{% extends 'app/my_page.html' %}
{% block my_page %}
    <div class="page-header">
        <h1>내 통계</h1>
    </div>
    <div>
        <div>
            <div class="page-header">
                <h3>내 강좌 수</h3>
            </div>
        </div>
    </div>
     <div>
        <div>
            <div class="page-header">
                <h3>내 강좌를 수강한 사람들의 수</h3>
            </div>
             <div class="page-header">
                <h3>내 강좌를 수강한 사람들</h3>
            </div>
        </div>
    </div>
     <div>
        <div>
            <div class="page-header">
                <h3>나의 강좌를 가장 많이 들은 사람</h3>
            </div>
              <div class="page-header">
                <h3>나의 강좌를 가장 많이 들은 top 3</h3>
            </div>
        </div>
    </div>
{% endblock %}