{% extends 'app/my_page.html' %}
{% block my_page %}
    <div class="page-header">
        <h1>마이 페이지 - 친구</h1>
    </div>
    {% if friends %}
        {% for friend in friends %}
            <p>{{ friend.friend_id }}</p>
        {% endfor %}
    {% endif %}

    <div class="page-header">
        <h2>친구 찾기</h2>
    </div>
      <form class="form-horizontal">
       {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-3 control-label" for="search-friend">전체 찾기</label>
            <div class="col-sm-5">
                <input class="form-control" id="search-friend-by-all" name="id" value="" type="text">
            </div>
            <button id="search-button" class="btn btn-success" type="button" onclick="search_friend('search','search-friend-by-all')">찾기</button>
        </div>
    </form>
    <form class="form-horizontal" method="post">
     {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-3 control-label" for="search-friend">ID로 찾기</label>
            <div class="col-sm-5">
                <input class="form-control" id="search-friend-by-id" name="id" value="" type="text">
            </div>
            <button id="search-button" class="btn btn-success" type="submit">찾기</button>
        </div>
    </form>
      <form class="form-horizontal" method="post">
       {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-3 control-label" for="search-friend">이름으로 찾기</label>
            <div class="col-sm-5">
                <input class="form-control" id="search-friend-by-name" name="id" value="" type="text">
            </div>
            <button id="search-button" class="btn btn-success" type="submit">찾기</button>
        </div>
    </form>
      <form class="form-horizontal" method="post">
       {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-3 control-label" for="search-friend">닉네임으로 찾기</label>
            <div class="col-sm-5">
                <input class="form-control" id="search-friend-by-nickname" name="id" value="" type="text">
            </div>
            <button id="search-button" class="btn btn-success" type="submit">찾기</button>
        </div>
    </form>
{% endblock my_page %}