{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/sign-in.css' %}">
</head>
<body>
<div class="container">
    <form action="/app/sign_in/" method="post">
        {% csrf_token %}
        <div class="form-signin">
            <h2 class="form-signin-heading">로그인 하시옵소서</h2>
            <label for="id">아이디</label>
            <input class="form-control" id="id" name="id" value="" type="text">

            <label for="password">패스워드</label>
            <input class="form-control" id="password" name="password" value="" type="password">

            <button class="btn btn-primary control-label" type="submit">확인</button>
            <a href="{% url 'sign_up' %}">가입하기</a>
        </div>
    </form>

</div>
</body>
</html>