{% extends 'app/menu_bar.html' %}
{%  block content %}
    <head>
        <h2><div style="text-align:center">전체 게시판 목록</div> </h2>
    </head>

    <body>


    <div class="container">
        <form class="form-horizontal" method="post" action="/app/article/total/">
            {% csrf_token %}
            <div class="input-group"  style="float:right">
                <table>
                    <tr>
                        <td>
                            <select name='option' style="width:100px;height:30px;" align-c>
                                <option value='' selected>선택</option>
                                <option value='title'>제목</option>
                                <option value='user'>작성자명</option>
                                <option value='content'>내용</option>
                            </select>
                        </td>
                        <td>
                            <div class = "input-group-btn" >
                                <input type="text" class="form-control" name="search" placeholder="Search" width:300px; height:100px;>
                                <button type="submit" class="btn btn-default">검색</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <table class ="table table-striped"  width="500">
            <thead>
            <tr>
                <th width="50"><center>번호</center></th>
                <th width="300"><center>제목</center></th>
                <th width="100"><center>작성자</center></th>
                <th width="50"><center>작성일</center></th>
            </tr>
            </thead>
            <tbody>
            {% for article in article_list %}
                <tr>
                    <td><center>{{ article.id }}</center></td>
                    <td><a href="/app/article/{{article.id}}/"><center>{{article.title}}</center></a></td>
                    <td><center>{{ article.user_id}}</center></td>
                    <td><center>{{ article.date }}</center></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <td align="right">
            <button type="글쓰기" class="btn btn-default" style=float:right onclick="location.href = '/app/article/write/'">글쓰기</button>
        </td>

    </div>
    </body>

{% endblock content %}