{% extends 'app/menu_bar.html' %}
{%  block content %}
    <head>
        <h2><div style="text-align:center">전체 게시판 목록</div> </h2>
    </head>

    <body>


    <div class="container">

        <div class="input-group"  style="float:right">
            <table>
                <tr>
                    <td>
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">검색옵션<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">제목</a></li>
                            <li><a href="#">작성자</a></li>
                        </ul>
                    </td>
                    <td>
                        <div class = "input-group-btn" >
                            <input type="text" class="form-control" placeholder="Search" width:300px; height:100px;>
                            <button type="검색" class="btn btn-default">검색</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <table class ="table table-striped"  width="500">
            <thead>
            <tr>
                <th width="50"><center>번호</center></th>
                <th width="300"><center>제목</center></th>
                <th width="100"><center>작성자</center></th>
                <th width="50"><center>작성일</center></th>
            </tr>
            </thead>
            <tbody>
            {% for article in article_list %}
                <tr>
                    <td><center>{{ article.id }}</center></td>
                    <td><a href="/app/article/{{article.id}}"><center>{{article.title}}</center></a></td>
                    <td><center>{{ article.user_id}}</center></td>
                    <td><center>{{ article.date }}</center></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="글쓰기" class="btn btn-default" style=float:right onclick="location.href = '/app/article/write/'">글쓰기</button></td> </tr>


    </div>
    </body>

{% endblock content %}